    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" >
        <md-toolbar layout="row">
            <div class="md-toolbar-tools" ng-controller="LeftCtrl" >
                <h1>Filters</h1>
                <span flex></span>
                <md-button ng-click="close()" class="md-primary" md-sidenav-focus>Close</md-button>
            </div>

        </md-toolbar>
        <md-content>
            <md-input-container flex>
                <label>State</label>
                <md-select aria-label placeholder="state" ng-model="Ctrl.filters.state">
                    <md-option ng-repeat="state in [{text:'current',value:1},{text:'archive',value:0}]" value="{{state.value}}">
                        {{state.text}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <label>Status</label>
                <md-select placeholder="Status" ng-model="Ctrl.filters.status">
                    <md-option ng-repeat="status in Ctrl.statusOptions" value="{{status.value}}">
                        {{status.text}}
                    </md-option>
                </md-select>
            </md-input-container>
        </md-content>
    </md-sidenav>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings">
                <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button>
            <h2>
                <span>Registrations: </span>
                Page {{Ctrl.currentPage}}
            </h2>
            <span flex></span>
            <md-button ng-click="Ctrl.toggleLeft()" ng-hide="Ctrl.isOpenLeft()">
                Toggle Filters
            </md-button>
            <md-button aria-label="Create Product" ui-sref="products.item">
                <md-icon><i class="material-icons">add_circle_outline</i></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <md-subheader class="md-1-line">
            <div layout="row" flex>
                <div flex="5"></div>
                <div flex="10" ng-click="Ctrl.changeOrder('created')" layout="row" layout-align="center center">
                    <i class="material-icons">{{Ctrl.columnSortState.created || 'sort'}}</i>
                    <span layout-fill flex>Created</span>
                </div>

                <div flex="10" ng-click="Ctrl.changeOrder('date_start')" layout="row" layout-align="center center">
                    <i class="material-icons">{{Ctrl.columnSortState.date_start || 'sort'}}</i>
                    <span layout-fill flex>Start Date</span>
                </div>
                <div flex="10" ng-click="Ctrl.changeOrder('date_end')" layout="row" layout-align="center center">
                    <i class="material-icons">{{Ctrl.columnSortState.date_end || 'sort'}}</i>
                    <span layout-fill flex>End Date</span>
                </div>
                <div flex="15" ng-click="Ctrl.changeOrder('child')" layout="row" layout-align="center center">
                    <i class="material-icons">{{Ctrl.columnSortState.child || 'sort'}}</i>
                    <span layout-fill flex>Child Name</span>
                </div>
                <div flex ng-click="Ctrl.changeOrder('product')" layout="row" layout-align="center center">
                    <i class="material-icons">{{Ctrl.columnSortState.product || 'sort'}}</i>
                    <span layout-fill flex>Product Name</span>
                </div>
            </div>
        </md-subheader>

        <md-divider class="md-1-line"></md-divider>

        <md-list ng-if="Ctrl.items.length">
            <md-list-item class="md-1-line"
                          dir-paginate="item in Ctrl.items | itemsPerPage: Ctrl.pageSize"
                          current-page="Ctrl.currentPage"
                          pagination-id="registrations"
                          total-items="Ctrl.total_items"
                          ng-class-odd="'md-accent'">
                <div flex="5">
                    <a ui-sref="registrations.item({id:item.id})" >
                        <i class="fa fa-edit"></i>
                    </a>
                </div>
                <div flex="10">
                    {{item.created * 1000 | date:'dd/MM/yyyy'}}
                </div>
                <div flex="10">
                    {{item.date_start * 1000 | date:'dd/MM/yyyy'}}
                </div>
                <div flex="10">
                    {{item.date_end * 1000 | date:'dd/MM/yyyy'}}
                </div>
                <div flex="15">
                    <a ui-sref="children.item({id:item.child_id})" >
                        <i class="fa fa-edit"></i> {{item.child_name}}
                    </a>
                </div>
                <div flex>
                    <a ui-sref="products.item({id:item.product_id})" >
                        <i class="fa fa-edit"></i> {{item.product_name}}
                    </a>
                </div>
            </md-list-item>
        </md-list>
        <dir-pagination-controls ng-if="Ctrl.items.length"
                direction-links="true"
                boundary-links="true"
                auto-hide="true"
                pagination-id="registrations"
                ></dir-pagination-controls>
        <h1 ng-if="!Ctrl.items.length">No Registrations To Display</h1>
    </md-content>


